@model IEnumerable<PartServiceModel>

@{
    ViewData["Title"] = "My Parts";
    ViewBag.AllowPartEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You don't have any parts yet!</h2>
}

<partial name="_PartsPartial" model="@Model" />