@using AutoParts.Core.Contract
@using AutoParts.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IDealerService Dealers

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        
    </ul>
</nav>


@*<a href="/" class="nav-link">
    <i class="fas fa-home"></i>
    <p>
    Home
    </p>
    </a>*@